* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.contenido {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f3;
}

.contenido .spinner-grow {
    margin-left: auto;
    margin-right: auto;
}

.form-control,
.select {
    margin-bottom: 5%;
}

.form-control:hover {
    border-color: #629677;
}

.form-control:focus {
    border-color: #629677 !important;
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25) !important;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: #629677;
}

.btn-primary {
    background-color: #07090f !important;
    border-color: #f2f4f3 !important;
    color: #f2f4f3 !important;
}

.btn-primary:hover {
    background-color: #629677 !important;
}

.btn-light {
    border-color: #dee2e6 !important;
    background-color: white !important;
}

.btn-light:hover {
    background-color: #629677 !important;
    color: white !important;
}

.btn-primary.delete:hover,
.btn-light.delete:hover {
    background-color: rgb(160, 16, 16) !important;
}