#protectoras {
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f4f3;
}

#protectoras h2 {
    padding: 1.5rem 0;
    background-color: #07090f;
    color: #f2f4f3;
}

#protectoras #wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 3rem;
    justify-items: center;
    padding: 5%;
}

#protectoras #wrap .card {
    width: 18rem;
    min-height: 18rem;
}

#protectoras #wrap .card .btn,
.modal .btn-primary {
    background-color: #07090f;
    border-color: #f2f4f3;
    transition: background-color 0.3s;
}

#protectoras #wrap .card .btn:hover,
.modal .btn-primary:hover {
    background-color: #629677;
}

#protectoras #wrap .card#add svg {
    margin: auto;
    width: 80px;
    height: 80px;
    color: #f2f4f3;
    fill: #07090f;
    transition: width height fill 0.3s;
}

#protectoras #wrap .card#add:hover svg {
    width: 92px;
    height: 92px;
    fill: #629677;
}

#protectoras .spinner-grow {
    margin-left: auto;
    margin-right: auto;
}

#protectoras footer {
    margin-top: auto;
    background-color: #07090f;
}

.modal svg {
    margin-right: 6px;
    margin-bottom: 4px;
}

.modal .form-control {
    margin-bottom: 5%;
}