#protectoras {
    height: 100vh;
}

#protectoras h2 {
    padding: 1.5rem 0;
    background-color: #07090f;
    color: #f2f4f3;
}

#protectoras #wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 3rem;
    justify-items: center;
    padding: 5%;
}

#protectoras #wrap .card {
    width: 18rem;
    min-height: 18rem;
}

#protectoras #wrap .card#add svg {
    margin: auto;
    width: 80px;
    height: 80px;
    color: #f2f4f3;
    fill: #07090f;
    transition: width height fill 0.3s;
}

#protectoras #wrap .card#add:hover svg {
    width: 92px;
    height: 92px;
    fill: #629677;
}

#protectoras footer {
    background-color: #07090f;
}

.modal svg {
    margin-right: 6px;
    margin-bottom: 4px;
}