.home {
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f4f3;
}

.home h2 {
    padding: 1.5rem 0 1.5rem 0;
    background-color: #07090f;
    color: #f2f4f3;
}

.home footer {
    margin-top: auto;
    background-color: #07090f;
}